
#cityImage {
  border-radius: 220px;
  width: 210px;
  height: 200px;
  position: absolute;

  @media (max-width:812px) {
    width: 150px;
    height: 150px;
  }
}

.result_color {
  color: #00bcd4;
}

#result_invisible {
  display: column;
  box-shadow: 0 0.8rem 2rem rgba(0,0,0,0.1);
  background: white;
  grid-gap: 2em;
  font-size: 18px;
  font-family: Avenir, sans-serif;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 6em;
  padding: 40px 0px 25px 20px;
  opacity: .96;
  align-items: center;

  @media (max-width:812px) {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width:812px) {.result_text {
  margin-left: -65px;
}
}

h3 {
  font-family: avenir, sans-serif;
  font-weight: lighter;
  margin-left: 300px;

}

#print {
  text-decoration: none;
}

#delete {
  text-decoration: none;
}
